@media only screen and (min-width: 7px) {


    body{
        margin: 0;
        font-family: monospace;
        background-color: rgb(224, 196, 188);
    }
    
    #corpo{
        background-color: rgb(165, 103, 85);
        border: black 1px solid;
        width: 85%;
        margin: auto;
        color: rgb(34, 32, 32);
        padding: 2em;
    }
    
    
    .titulao{
        font-size: 3em;
    }
    
    .descricao{
        font-size: 15px;
        text-align: justify;
    }
    
    a{
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    
    #hr{
        border-color: rgb(34, 32, 32);
        margin: 8em;
    }
    
    #ImgPrincipal{
        width: 100%;
        height: auto;
        margin: auto;
        border: black 2px solid;
    }
    
    #puter{
        float: right;
        width: 100px;
        height: auto;
    }

    #deadtree{
        float: right;
        width: 100px;
        height: auto;
    }
    
    #vapobook{
        float: right;
        width: 200px;
        height: auto;
    }
    
    .books{
    height: 20em;
    width: auto;
    float: left;
    margin: 1em;
    }
}




@media only screen and (min-width: 700px) {


    body{
        margin: 0;
        font-family: monospace;
        background-color: rgb(224, 196, 188);
    }
    
    #corpo{
        background-color: rgb(165, 103, 85);
        border: black 1px solid;
        width: 55%;
        margin: auto;
        color: rgb(34, 32, 32);
        padding: 2em;
    }
    
    
    .titulao{
        font-size: 5em;
    }
    
    .descricao{
        font-size: 1.5em;
        text-align: justify;
    }
    
    a{
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    
    #hr{
        border-color: rgb(34, 32, 32);
        margin: 8em;
    }
    
    #ImgPrincipal{
        width: 100%;
        height: auto;
        margin: auto;
        border: black 2px solid;
    }
    
    #puter{
        float: right;
        width: 100px;
        height: auto;
    }

    #deadtree{
        float: right;
        width: 200px;
        height: auto;
    }
    
    #vapobook{
        float: right;
        width: 200px;
        height: auto;
    }
    
    .books{
    height: 20em;
    width: auto;
    float: left;
    margin: 1em;
    }
}

